<!doctype html>
<html lang="en" th:xmlns="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title th:text="${title}"></title>
</head>
<body>

	<section>

		<div class="container">

			<div class="card mr-3">

				<div class="card-body">

					<h1 class="text-center">Add contact</h1>

					<div class="container-fluid mt-3">

						<div class="row">


							<div class="col-md-10 offset-md-1">

								<form action="#" th:action="@{ '/user/updateContact_submit/' + ${contact.contactID}}"
									method="POST" th:object="${contact}"
									enctype="multipart/form-data" class="mt-2">

									<!-- name field here -->


									<div class="col-auto">
										<label class="sr-only" for="inlineFormInputGroup">Name</label>
										<div class="input-group mb-2">
											<div class="input-group-prepend">
												<div class="input-group-text">
													<i class="fa fa-user-plus"></i>
												</div>
											</div>
											<input type="text" th:value="${contact.name}" required
												class="form-control" name="name"
												placeholder="Enter name here">
										</div>
									</div>


									<!-- Nick name field here -->


									<div class="col-auto mt-2">
										<label class="sr-only" for="inlineFormInputGroup">NickName</label>
										<div class="input-group mb-2">
											<div class="input-group-prepend">
												<div class="input-group-text">
													<i class="fa fa-user"></i>
												</div>
											</div>
											<input type="text" class="form-control" required
												name="nickName" th:value="${contact.nickName}"
												id="inlineFormInputGroup" placeholder="Enter Nick-Name here">
										</div>
									</div>


									<!-- Mobile number is here -->

									<div class="col-auto mt-2">
										<label class="sr-only" for="inlineFormInputGroup">Mobile
											Number</label>
										<div class="input-group mb-2">
											<div class="input-group-prepend">
												<div class="input-group-text">
													<i class="fa fa-phone"></i>
												</div>
											</div>
											<input required type="number" class="form-control"
												name="mobileNumber" id="inlineFormInputGroup"
												placeholder="Enter Mobile number"
												th:value="${contact.mobileNumber}">
										</div>
									</div>

									<!-- Email number is here -->

									<div class="col-auto mt-2">
										<label class="sr-only" for="inlineFormInputGroup">Email
											Id</label>
										<div class="input-group mb-2">
											<div class="input-group-prepend">
												<div class="input-group-text">
													<i class="fa fa-envelope"></i>
												</div>
											</div>
											<input required type="email" class="form-control"
												name="email" id="inlineFormInputGroup"
												placeholder="Enter Email Id" th:value="${contact.email}">
										</div>
									</div>

									<!-- Email number is here -->

									<div class="col-auto mt-2">
										<label class="sr-only" for="inlineFormInputGroup">work</label>
										<div class="input-group mb-2">
											<div class="input-group-prepend">
												<div class="input-group-text">
													<i class="fa fa-university"></i>
												</div>
											</div>
											<input required type="text" class="form-control" name="work"
												id="inlineFormInputGroup" placeholder="Enter Designation"
												th:value="${contact.work}">
										</div>
									</div>


									<!-- Text area for the description -->

									<div class="col-auto mt-2">

										<textarea name="contactDescription" id="mytextarea"
											th:value="${contact.contactDescription}"
											placeholder="Enter the contact description here.."
											class="form-control" rows="10"></textarea>

									</div>


									<!-- This is the image tag -->



									<div class="col-auto mt-2">
										<label class="sr-only" for="inlineFormInputGroup">Image</label>
										<div class="input-group mb-2">
											<div class="input-group-prepend">
												<div class="input-group-text">
													<i class="fa fa-user-circle"></i>
												</div>
											</div>
											<input type="file" class="form-control" name="image"
												id="inlineFormInputGroup">
										</div>
									</div>



									<div class="container text-center mt-3">

										<button type="submit" class="btn btn-primary btn-block">Update</button>

									</div>


								</form>



							</div>

						</div>


					</div>

				</div>

			</div>
		</div>

		<script
			src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"
			referrerpolicy="origin"></script>


		<script>
			tinymce.init({
				selector : '#mytextarea'
			});
		</script>


	</section>


</body>
</html>